body {font-family: "Lato", sans-serif;
height:95vh;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
  height: 75%;
}

/* #dash {background-color:#ed5f00;} */
#dash {background-image: url('Boxf.png');}
#settings {background-color:green;}
#edit {background-color:blue;}
#logout {background-color:orange;}